.searchContainer {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  gap: 10px;
  color: rgba(135, 135, 135, 1);
  padding: 9px 12px;
  border: 1px solid rgba(135, 135, 135, 1);
}

.searchIcon {
  aspect-ratio: 0.79;
  object-fit: contain;
  object-position: center;
  width: 11px;
  margin: auto 0;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: Inter, sans-serif;
}

.searchResults {
  border-radius: 0 0 3px 3px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 13px -2px rgba(0, 0, 0, 0.25);
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  color: rgba(0, 0, 0, 1);
}

.selectedResult {
  background-color: rgba(10, 102, 187, 0.12);
  z-index: 10;
  padding: 9px 20px;
}

.resultsList {
  display: flex;
  margin-top: 7px;
  flex-direction: column;
  padding: 0 20px;
}

.resultItem {
  padding: 8px 0;
  cursor: pointer;
}

.loading {
  text-align: center;
  color: rgba(135, 135, 135, 1);
  margin-top: 10px;
}

.resultItem:hover {
  background-color: rgba(10, 102, 187, 0.05);
}

@media (max-width: 991px) {
  .searchContainer {
    width: 100%;
  }
}
