.hotelPage {
  font-family: Inter, sans-serif;
}

.hotelBackground {
  position: relative;
  text-align: center;
}

.hotelBackgroundImage {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.hotelName1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.hotelLocation1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.hotelRating1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.ratingIcon1 {
  width: 24px;
  margin-right: 5px;
}

.mainContent1 {
  padding: 12px 0;
}

.loading,
.error {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.roomList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 40px;
  align-items: center;
  justify-content: center;
}

.room {
  width: 350px;
  height: auto;
  border: 1px solid rgba(135, 135, 135, 1);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.room:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.roomImage {
  aspect-ratio: 1.3;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 246px;
}

.roomDetails {
  padding: 7px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.roomName {
  font-size: 20px;
  font-weight: normal;
  margin-top: 15px;
}

.roomPrice {
  font-size: 18px;
  margin-top: 5px;
  font-weight: bold;
}

.buttonGroup {
  display: flex;
  gap: 35px;
  margin-top: 10px;
}

.viewFacilitiesButton,
.bookNowButton {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  transition: background 0.3s ease;
}

.viewFacilitiesButton {
  background: white;
  color: #0a66bb;
  border: 1px solid #0a66bb;
  height: 34px;
  width: 145px;
}

.bookNowButton {
  border-radius: 2px;
  background-color: #0a66bb;
  display: flex;
  gap: 4px;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  border: 1px solid #0a66bb;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 34px;
  width: 152px;
}

.viewFacilitiesButton:hover {
  background: #0a66bb;
  color: white;
}

.bookNowButton:hover {
  background: #084782;
}

.hotelDescription {
  margin-top: 20px;
  padding: 30px;
}

.hotelDescription h2 {
  font-size: 20px;
  font-weight: normal;
}

.hotelDescription p {
  font-size: 14px;
  line-height: 1.6;
}
