.searchForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.searchInputContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 9px 12px;
  border: 1px solid rgba(135, 135, 135, 1);
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
}

.searchIcon,
.calendarIcon,
.endIcon {
  aspect-ratio: 0.79;
  width: 11px;
  margin: auto 0;
  object-fit: contain;
  object-position: center;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: Inter, sans-serif;
  width: 276px;
}

.dateRangePickerContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6.67px 12px;
  border: 1px solid rgba(135, 135, 135, 1);
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
  min-width: 172px;
  font-size: 14px;
}

.dateDivider {
  width: 1px;
  height: 24px;
  background-color: rgba(135, 135, 135, 1);
}

.guestsInput {
  width: 60px;
  padding: 9px;
  border: 1px solid rgba(135, 135, 135, 1);
  border-radius: 2px;
  outline: none;
  font-size: 14px;
  font-family: Inter, sans-serif;
}

.searchButton {
  padding: 10px 20px;
  border: 1px solid rgba(10, 102, 187, 1);
  background-color: rgba(10, 102, 187, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-size: 14px;
  border-radius: 2px;
}

.searchResults {
  border-radius: 0 0 3px 3px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  color: rgba(0, 0, 0, 1);
  z-index: 4;
}

.resultsList {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.resultItem {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  box-sizing: border-box;
}

.resultItem:hover {
  background-color: #0a65bb2c;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.hiddenDateInput {
  display: none;
}

.selectedResult {
  background-color: rgba(10, 102, 187, 0.12);
  z-index: 10;
  padding: 9px 20px;
}

@media (max-width: 991px) {
  .searchForm {
    flex-direction: column;
    width: 100%;
  }
}

.loading {
  text-align: center;
  color: rgba(135, 135, 135, 1);
  margin-top: 10px;
}

.guestsInputContainer {
  position: relative;
}

.guestsInput {
  padding-left: 30px;
  width: 50px;
  text-align: center;
}

.peopleIcon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #0a66bb;
}
