.filters {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 1);
  font: 400 14px Inter, sans-serif;
}

.divider {
  height: 1px;
  border: 1px solid rgba(10, 102, 187, 0.12);
}

.section {
  display: flex;
  margin-top: 17px;
  width: 100%;
  flex-direction: column;
  padding: 0 29px;
}

.title {
  font-size: 16px;
  margin-bottom: 16px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.filterItem {
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  border-radius: 2px;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checked {
  background-color: rgba(10, 102, 187, 1);
  border: none;
}

@media (max-width: 991px) {
  .section {
    padding: 0 20px;
  }
}
