.homePage {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  padding-bottom: 27px;
  flex-direction: column;
}

.heroSection {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 621px;
  width: 100%;
  align-items: start;
  padding: 9px 80px 2px 11px;
}

.heroBackground {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.header {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1213px;
  gap: 20px;
  color: rgba(0, 0, 0, 1);
  flex-wrap: wrap;
  justify-content: space-between;
  font: 400 16px Inter, sans-serif;
}

.nav {
  align-self: start;
  display: flex;
  gap: 40px 100px;
}

.logo {
  font-size: 24px;
}

.logoHighlight {
  color: rgba(10, 102, 187, 1);
  font-weight: 700;
}

.heroContent {
  position: relative;
  margin: 96px 0 0 61px;
}

.heroTitle {
  color: rgba(0, 0, 0, 1);
  font: 400 36px Inter, sans-serif;
}

.heroText {
  color: rgba(0, 0, 0, 1);
  margin: 40px 0 0;
  font: 400 14px Inter, sans-serif;
}

.searchSection {
  position: relative;
  width: 100%;
  max-width: 1191px;
  margin: 94px 0 0 12px;
}

.mainContent {
  display: flex;
  gap: 20px;
  margin-top: -24px;
  width: 100%;
  max-width: 1214px;
}

.filtersColumn {
  width: 21%;
}

.hotelsColumn {
  width: 79%;
  padding-left: 20px;
}

.hotelGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.pagination {
  display: flex;
  gap: 16px;
  margin-top: 48px;
  align-items: center;
}

.pageButton {
  border-radius: 3px;
  padding: 7px 11px;
  border: 1px solid rgba(135, 135, 135, 1);
  cursor: pointer;
}

.pageButtonActive {
  background-color: rgba(10, 102, 187, 0.12);
}

.pageButtonDisabled {
  background-color: rgba(245, 245, 245, 1);
  color: rgba(135, 135, 135, 1);
  cursor: not-allowed;
}

@media (max-width: 991px) {
  .heroSection {
    padding: 9px 20px 2px;
  }

  .heroContent {
    margin: 40px 0 0 20px;
  }

  .mainContent {
    flex-direction: column;
  }

  .filtersColumn,
  .hotelsColumn {
    width: 100%;
    padding-left: 0;
  }

  .hotelGrid {
    grid-template-columns: 1fr;
  }
}
